@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
}

body{
    min-height: 100vh;
}

a{
    text-decoration: none;
    color: #ffffff;
}

.container{
    width: 85%;
    margin: auto;
}

header{
    background-color: rgba(233,177,205,1);
    display: flex;
    justify-content: center;
    align-items: center;

    #logo{
        width: 150px;
    }

    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;

        nav{
            display: flex;
            color: white;
        }

        &-items{
            padding: 4px 40px;
            font-size: 15pt;
            text-shadow: 2px 2px #562135;
        }
    }
}

.gallery{
    &-menu:hover{
        .gallery-submenu{
            display: block;
        }
    }

    &-submenu{
        display: none;
        background-color: rgba(233,177,205,0.7);
        position: absolute;
    }

    &-items{
        padding: 15px;
    }
}

.slider{
    background-image: url(../images/banner-bg.jpg);
    background-size: 100% 100%;
    width: 100%;
    padding-top: 14%;
    padding-bottom: 72px;
    margin-top: -154px;

    &-items{
        width: 300px;
        border: 2px solid #562135;
        border-radius: 8px;
    }

    h1{
        color: #ffffff;
        text-shadow: 2px 2px #562135;
        letter-spacing: 0.2rem;
        font-size: 25pt;
    }
}

#slider-product{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 24px;
}

i{
    font-size: 30px;
    padding: 0px 10px;
    cursor: pointer;
    user-select: none;
    color: #562135;
}

.showcase{
    background-image: url(../images/recommend-bg.jpeg);
    background-size: cover;
    width: 100%;
    padding: 72px 0px;

    h1{
        color: #ffffff;
        text-shadow: 2px 2px #562135;
        letter-spacing: 0.2rem;
        font-size: 25pt;
    }

    &-grid{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-gap: 24px;
        margin-top: 24px;

        div{
            img{
                width: 100%;
                border: 2px solid #e9b1cd;
                border-radius: 8px;
            }
        }
    }
}

.about{
    background-image: url(../images/parallax.jpeg);
    background-size: cover;
    background-position-x: center;
    width: 100%;
    padding: 72px 0px;

    h1{
        color: #ffffff;
        text-shadow: 2px 2px #562135;
        letter-spacing: 0.2rem;
        font-size: 25pt;
    }

    &-box{
        background-color: rgba(255,255,255,0.7);
        padding: 72px;
        margin-top: 24px;
        text-align: center;

        p{
            color: #562135;
            font-size: 15pt;
            text-shadow: 2px 2px #ffe7de;
            width: 80%;
            margin: auto;
        }
    }
}

footer{
    background-color: #562135;
    padding: 48px;
    
    .container{
        text-align: center;
        
        h1{
            color: #ffffff;
            text-shadow: 2px 2px #562135;
            letter-spacing: 0.2rem;
            font-size: 10pt;
        }
    }
}

@media only screen and (max-width: 992px) {
    .slider{
        padding-top: 18%;
    }

    .showcase{

        &-grid{
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(2,1fr);
        }
    }
}

@media only screen and (max-width: 768px) {
    .navbar{
        display: flex;
        flex-direction: column;
        padding: 8px;

        &-items{
            padding: 10px 0px!important ;
        }
    }

    nav{
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;

        div{
            width: 100%;
        }
    }

    .gallery{

        &-submenu{
            position: relative;
            background-color: rgba(195,130,158,0.5)
        }

        &-items{
            padding: 15px 0px;
        }
    }

    .slider{
        margin-top: 0!important;
    }
}

@media only screen and (max-width: 576px) {
    .showcase{
        &-grid{
            grid-template-columns: repeat(1,1fr);
            grid-template-rows: repeat(4,1fr);
        }

        .container{
            width: 65%;
        }
    }
}